.container{
text-align: center;
background-color: papayawhip;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
width: 50%;
border: 10px double greenyellow;
padding: 10px;
   
}
.Heading{
    color: brown;
    font-size: 50px;
  font-weight: 500;
    
}
.input{
    font-size: 30px;
   margin-top: 30px;
   background-color: rgb(114, 222, 226);
   text-align: center;
   
}
.number{
    font-size: 30px;
}
button{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
  margin-right: 10px;
margin-top: 30px;
color: rgb(37, 35, 35);
}
.add{
    background-color: rgb(84, 158, 15);
   
}
.subtract{
    background-color: mediumvioletred;
}
.Multiply{
    background-color: fuchsia;
}
.divide{
    background-color: rebeccapurple;
}
.Result{
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(111, 189, 22);
    margin-top: 50px;
    
    color: darkred;
}